#  Local .terraform directories
.terraform/
**/.terraform/*

# .tfstate files
*.tfstate
*.tfstate.*

# .tfvars files
*.tfvars

# .temporary google creds json file 
creds.json

# .temporary terraform files
*backend.hcl
*.terraform.lock.hcl
